<h1 class="c_gold"> Built By Dog Owners For Dog Owners </h1>

<article class="c_gold">
  Welcome to best friendly, a web application that was created because this dog owner saw a problem
  and has created a solution! I love my dog and I want to bring him with me everywhere I go,
  but I don’t always know which businesses want to welcome myself and my pup into their establishments.
<p>
  Therefore, this simple application shows all the dog friendly businesses within your immediate vicinity
  and allows you to find a specific type of business by category, name or location!
  We also want to know if you have a favourite dog friendly business that you and your pup enjoy.
  We will add them to our list and offer said business the chance to grab a sticker to smack in their window
  so we, who love dogs, can identify best friendly businesses while out and about in our adventures.
</p>
  From Toronto and own a dog friendly business? SUBMIT YOUR BUSINESS!
  I’ll come for a visit, meet the management and offer a sticker for your window.
  From another city? SUBMIT YOUR BUSINESS! We'll send you a sticker!
<p>
  Want to advertise with us? Just ask! We only accept ads from pet friendly businesses,
  however we will happily design your ad to your specifications for a small fee.
  Otherwise, just enjoy! Take a poke around the neighbourhood and find out where your favourite furry friends are welcome.
</p>
Thanks!
<p>
Allie Bell
Founder of Best Friendly.
</p>
</article>
