<h1>Off leash Toronto</h1>

<li>CDW:Commercial Dog Walkers allowed</li>
<li>FEN:Fenced park</li>
<li>SDA: Small Dog Area (dogs weighing max.20lbs with max.height 12in)</li>

<h2>North York District</h2>

<address>Bayview Arena Park 3230 Bayview Ave</address>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities CDW/FEN/SDA</li>

<address>Earl Bales Park 4169 Bathurst St</address>
<li>Hours of Operation for public use 6am - 10pm</li>
<li>Hours of Operation for CDW - Monday to Friday 9am - 5pm</li>
<li>Amenities FEN</li>

<address>G.Ross Lord Park 4801 Dufferin St.</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities FEN</li>

<address>Linkwood Lane Park 10 Linkwood Lane</address>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities FEN</li>

<address>Sherwood Park 190 Sherwood, please follow marked signs to trail area</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Sunnybrook Park - Below the hospital, on the west side of the Don River</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities CDW/FEN/SDA</li>

<address>Woburn Park Northwest Section of the park 75 Woburn ave</address>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities FEN</li>

<address>Yonge & York Mills 4070 Yonge St.</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities CDW/FEN/SDA</li>

<h2>Toronto & East York District</h2>

<address>Allan Gardens (west end) 160 Gerrard St. East</address>
<li>Hours Operation 6am - 11pm</li>
<li>Amenities CDW/FEN/SDA</li>

<address>Barbara Hall Park 519 Church St.</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities FEN</li>

<address>Bickford Park 400 Grace St.</address>
<li>Hours of Operation 6am - 11:59pm for FEN & Field</li>
<li>Hours of Operation Apr.1-Oct.31: 4pm - 8pm ON LEASH in field</li>
<li>Amenities CDW/FEN</li>

<address>Bill Johnston Park 65 Western Battery Rd.</address>
<li>Hours of Operation 7am - 11pm CDW: 9am - 5pm</li>
<li>Amenities CDW</li>

<address>Cassels Ave playground 69 Cassels Ave</address>
<li>Hours of Operation May.1-Sept.30: 5:30am - 9:30am 8pm - 11:59pm</li>
<li>Hours of Operation Oct.1-Apr.30: 5:30am - 11:59pm</li>
<li>Amenities CDW</li>

<address>Cedarvale Park 1611 Bathurst St.</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities CDW/FEN</li>

<address>Cherry Beach 275 Unwin Ave - follow signage to offleash area</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Clarence Square 25 Clarence Square</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities FEN</li>

<address>Coronation Park 711 Lake Shore Blvd.</address>
<li>Hours of Operation 7am - 11pm CDW hours - Monday to Friday: 10am - 2pm </li>
<li>Amenties FEN</li>

<address>Craigleigh Gardens 160 South Drive</address>
<li>Hours of Operation 6am - 9am & 5pm - 11pm</li>

<address>David Crombie Park 131 to 171 The Esplanade</address>
<li>Hours of Operation 6am - 8am & 5pm - 11pm</li>

<address>Don Valley Brick Works 550 Bayview Ave</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Gerrard Carlaw Parkette 855 Gerrard St. E </address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Greenwood Park 150 Greenwood ave</address>
<li>Amenities CDW/FEN</li>

<address>Hideaway Park 23 Audley Ave</address>
<li>Hours of Operation 6:30am - 11pm</li>
<li>Amenities FEN</li>

<address>Hillcrest Park 950 Davenport Ave</address>
<li>Hours of Operation Nov.1 - Mar.31: 6am - 11pm</li>
<li>Hours of Operation Apr.1 - Oct.31 6am - 9am & 8pm - 11pm</li>

<address>Kew Gardens 2075 Queen St. East follow signage for fenced in area</address>
<li>Hours of Operation 5:30am - 11:59pm</li>
<li>Amenities CDW/SDA/partial FEN</li>

<address>Merrill Bridge Road Park 1 East Lynn Ave</address>
<li>Hours of Operation 7am - 10pm</li>

<address>Monarch Park 115 Hanson St. at CNR tracks</address>
<li>Hours of Operation 5:30am - 11:59pm</li>
<li>Amenities CDW </li>

<address>Norwood Park 16 Norwood Rd</address>
<li>Amenities CDW/FEN</li>

<address>Oakcrest Parkette 30 oakcrest ave</address>
<li>Hours of Operation 7am - 8am & 6pm - 7pm & 9:30pm - 10:00pm</li>

<address>Orphans Greenspace 51 Power St.</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Ramsden Park 215 Avenue Rd.</address>
<li>Hours of Operation 6am - 9am & 6pm - 9pm</li>
<li>Amenities CDW</li>

<address>Regent Park 620 Dundas St. E</address>
<li>Amenities FEN</li>

<address>Riverdale Park East 550 Broadview ave</address>
<li>Hours of Operation Nov.15 - May.1 6am -9am & 5pm - 9pm</li>

<address>Riverdale Park West 375 Sumach st</address>
<li>Amenities CDW - KEEP DOGS AWAY FROM ACTIVE PLAY AREAS</li>

<address>Silverbirch Park foot of Silverbirch ave - Nursewood Rd.</address>
<li>Hours of Operation 5:30am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Sir Winston Churchill Park 301 St.Clair Ave. W.</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities CDW/FEN</li>

<address>Sorauren Ave Park 289 Sorauren Ave</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>South Stanley Park</address>
<li>Amenities CDW/FEN</li>

<address>Stan Wadlow Park 888 Cosburn Ave</address>
<li>Hours of Operation 6am - 10pm</li>
<li>Amenities FEN</li>

<address>St.Andrew's Playground 450 Adelaide St. W</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities FEN</li>

<address>Thompson Street Parkette 120 Broadview Ave</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities FEN</li>

<address>Trinity Bellwoods Park</address>
<li>Hours of Operation 6am - 11pm</li>
<li>Amenities CDW</li>

<address>Vermont Square 819 Palmerston Ave</address>
<li>Hours of Operation Jun.1-Sept.30 - 6am - 9am & 8pm - 11pm</li>
<li>Hours of Operation Oct.1 - May.31 - 6:30am - 9am & 6:30pm - 11pm</li>
<li>Amenities CDW</li>

<address>Wildwood Crescent Playground 110 Wildwood Crescent</address>
<li>Amenities FEN</li>

<address>Withrow Park 725 Logan Ave</address>
<li>Amenities CDW/FEN</li>

<address>Wychwood Car Barns Park< 76 Wychwood Ave</address>
<li>Hours of Operation Tues, Thurs, Sat: 7:30am - 12:00pm & 3pm - 9pm</li>
<li>Hours of Operation Sun, Mon: 10am - 12pm & 3pm - 9pm</li>
<li>Amenities FEN (NO COMMERCIAL DOG WALKERS ALLOWED)</li>

<h2>Etobicoke & York District</h2>

<address>Beresford Park 400 Beresford Ave</address>
<li>Hours of Operation 7am - 10pm</li>

<address>Colonel Sam Smith Park 1 Colonel Sam SMith Park Dr.</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW</li>

<address>Don Russell Memorial Park</address>
<li>Hours of Operation May 1 - Oct. 31 6am - 9am & 8am - 11:59pm</li>
<li>Hours of Operation Nov.1 - Apr. 30 6am - 11:59pm</li>
<li>AmenitiesCDW</li>

<address>Earlscourt Park 1200 Lansdowne Ave</address>
<li>Hours of Operation 7am - 10pm CDW: 9am - 3pm</li>
<li>Amenities CDW/FEN</li>

<address>High Park 1873 Bloor Steet West - follow signage to offleash area</address>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities CDW/FEN</li>

<address>Humber Bay Park West 2225 Lake Shore Blvd. W.</address>
<li>Hours of Operation 6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Kings Mill Park 1 Humber Valley Rd.</address>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities CDW</li>

<address>Marie Curtis Park 2 Forty Second St.</address>
<li>Hours of Operation6am - 11:59pm</li>
<li>Amenities CDW/FEN</li>

<address>Sir Casimir Gzowski Park 2001 Lakeshore Blvd. W.</address>
<li>Hours of Operation 7am - 10pm CDW - 9am - 3pm</li>
<li>Amenities CDW/FEN</li>

<h2>Scarborough District</h2>

<address>Botany Hill Park 277 Orton Park rd.</address>
<li>Hours of Operation Mon-Fri: 7am - 9pm</li>
<li>Hours of Operation Sat-Sun/Holidays: 9am - 9pm</li>
<li>Amenities CDW/FEN</li>

<address>Colonel Danforth Park 130 Old Kingston Rd. Follow signage to off-leash area</address>
<li>Hours of Operation 6am - 10pm</li>
<li>Amenities FEN</li>

<address>Frank Faubert Wood Lot 185 Borough Drive</address>
<li>Amenities FEN/SDA</li>

<address>L'Amoreaux 1785 McNicoll Ave</address>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities CDW/FEN</li>

<address>Scarborough Heights Park 27 Fishleigh Dr.</address>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities FEN</li>

<address>Thomson Memorial Park 1005 Brimley Ave.</address>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities CDW/FEN/SDA</li>

<address>Warden Woods Park Pharmacy Ave.</address>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities CDW/FEN</li>

<!--information for this list obtained from www1.toronto.ca
