<div class="form_text">





  <h1>Off leash Toronto</h1>                            <a href="http://www.animatedimages.org/cat-dogs-202.htm"><img src="http://www.animatedimages.org/data/media/202/animated-dog-image-0718.gif" border="0" alt="animated-dog-image-0718"/></a>

  <li>CDW:Commercial Dog Walkers allowed</li>
  <li>FEN:Fenced park</li>
  <li>SDA: Small Dog Area (dogs weighing max.20lbs with max.height 12in)</li>

  <h2>North York District</h2>


  <button class="accordion">Bayview Arena Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Bayview+Arena,+3230+Bayview+Ave,+Toronto,+ON/@43.7879188,-79.3959397,17z/data=!3m1!4b1!4m5!3m4!1s0x882b2d26774f0817:0xc581a04e26f919cf!8m2!3d43.7879188!4d-79.393751/"target="_blank">Bayview Arena Park 3230 Bayview Ave</a>
    <li>Hours of Operation 7am - 10pm</li>
    <li>Amenities CDW/FEN/SDA</li>
  </div>

  <button class="accordion">Earl Bales Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Earl+Bales+Park/@43.753342,-79.4332766/"target="_blank">Earl Bales Park 4169 Bathurst St</a>
    <li>Hours of Operation for public use 6am - 10pm</li>
    <li>Hours of Operation for CDW - Monday to Friday 9am - 5pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">G.Ross Lord Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/G+Ross+Lord+Park/@43.7783212,-79.4651282,15.7/"target="_blank">G.Ross Lord Park 4801 Dufferin St.</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Linkwood Lane Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Linkwood+Lane+Park/@43.7155945,-79.3261079,17z/"target="_blank">Linkwood Lane Park 10 Linkwood Lane</a>
    <li>Hours of Operation 7am - 10pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Sherwood Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Sherwood+Park/@43.7168413,-79.3884252,14.77z/data=!4m5!3m4!1s0x0:0x57d2304bd329309b!8m2!3d43.7166087!4d-79.3859732"target="_blank">Sherwood Park 190 Sherwood, please follow marked signs to trail area</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Sunnybrook Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Sunnybrook+Park,+1132+Leslie+St,+Toronto,+ON/@43.7234982,-79.3575739,15z/"target="_blank">Sunnybrook Park - Below the hospital, on the west side of the Don River</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities CDW/FEN/SDA</li>
  </div>

  <button class="accordion">Wodburn Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Woburn+Avenue+Playground,+Toronto,+ON+M5M/@43.727428,-79.4083948,17z/"target="_blank">Woburn Park Northwest Section of the park 75 Woburn ave</a>
    <li>Hours of Operation 7am - 11pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Yonge & York Mills</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Yonge+%26+York+Mills+dogs+off+leash+area/@43.7450981,-79.4072944,15z/"target="_blank">Yonge & York Mills 4070 Yonge St.</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities CDW/FEN/SDA</li>
  </div>




  <!-- <a href ="https://www.google.ca/maps/place/Bayview+Arena,+3230+Bayview+Ave,+Toronto,+ON/@43.7879188,-79.3959397,17z/data=!3m1!4b1!4m5!3m4!1s0x882b2d26774f0817:0xc581a04e26f919cf!8m2!3d43.7879188!4d-79.393751/"target="_blank">Bayview Arena Park 3230 Bayview Ave</a>
  <li>Hours of Operation 7am - 10pm</li>
  <li>Amenities CDW/FEN/SDA</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Earl+Bales+Park/@43.753342,-79.4332766/"target="_blank">Earl Bales Park 4169 Bathurst St</a>
  <li>Hours of Operation for public use 6am - 10pm</li>
  <li>Hours of Operation for CDW - Monday to Friday 9am - 5pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/G+Ross+Lord+Park/@43.7783212,-79.4651282,15.7/"target="_blank">G.Ross Lord Park 4801 Dufferin St.</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Linkwood+Lane+Park/@43.7155945,-79.3261079,17z/"target="_blank">Linkwood Lane Park 10 Linkwood Lane</a>
  <li>Hours of Operation 7am - 10pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Sherwood+Park/@43.7168413,-79.3884252,14.77z/data=!4m5!3m4!1s0x0:0x57d2304bd329309b!8m2!3d43.7166087!4d-79.3859732"target="_blank">Sherwood Park 190 Sherwood, please follow marked signs to trail area</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Sunnybrook+Park,+1132+Leslie+St,+Toronto,+ON/@43.7234982,-79.3575739,15z/"target="_blank">Sunnybrook Park - Below the hospital, on the west side of the Don River</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities CDW/FEN/SDA</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Woburn+Avenue+Playground,+Toronto,+ON+M5M/@43.727428,-79.4083948,17z/"target="_blank">Woburn Park Northwest Section of the park 75 Woburn ave</a>
  <li>Hours of Operation 7am - 11pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Yonge+%26+York+Mills+dogs+off+leash+area/@43.7450981,-79.4072944,15z/"target="_blank">Yonge & York Mills 4070 Yonge St.</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities CDW/FEN/SDA</li> -->

  <h2>Toronto & East York District</h2>

  <button class="accordion">Allan Gardens (West End)</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Allan+Gardens+Off-Leash+Dog+Park/@43.6624827,-79.3748021,15z/"target="_blank">Allan Gardens (west end) 160 Gerrard St. East</a>
    <li>Hours Operation 6am - 11pm</li>
    <li>Amenities CDW/FEN/SDA</li>
  </div>

  <button class="accordion">Barbara Hall Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Barbara+Hall+Park/@43.6666505,-79.3805207,15z/"target="_blank">Barbara Hall Park 519 Church St.</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Bickford Park</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Bickford+Park+Dog+Park/@43.6614414,-79.4216177,17z/"target="_blank">Bickford Park 400 Grace St.</a>
    <li>Hours of Operation 6am - 11:59pm for FEN & Field</li>
    <li>Hours of Operation Apr.1-Oct.31: 4pm - 8pm ON LEASH in field</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Bill Johnston Park</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Bill+Johnston+Park/@43.6401012,-79.4159763,17z/"target="_blank">Bill Johnston Park 65 Western Battery Rd.</a>
    <li>Hours of Operation 7am - 11pm CDW: 9am - 5pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Cassels Ave Playground</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Cassels+Avenue+Playground/@43.6794937,-79.3093359,17z/"target="_blank">Cassels Ave playground 69 Cassels Ave</a>
    <li>Hours of Operation May.1-Sept.30: 5:30am - 9:30am 8pm - 11:59pm</li>
    <li>Hours of Operation Oct.1-Apr.30: 5:30am - 11:59pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Cedarvale Park</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Cedarvale+Park/@43.6909502,-79.4420204,14z/"target="_blank">Cedarvale Park 1611 Bathurst St.</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Cherry Beach</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Cedarvale+Park/@43.6909502,-79.4420204,14z/"target="_blank">Cherry Beach 275 Unwin Ave - follow signage to offleash area</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Clarence Square</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Clarence+Square+Park/@43.6441588,-79.3959585,17z/"target= "_blank">Clarence Square 25 Clarence Square</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Coronation Park</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Coronation+Park/@43.635279,-79.4060657,15z/"target="_blank">Coronation Park 711 Lake Shore Blvd.</a>
    <li>Hours of Operation 7am - 11pm CDW hours - Monday to Friday: 10am - 2pm </li>
    <li>Amenties FEN</li>
  </div>

  <button class="accordion">Craigleigh Gardens</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Craigleigh+Gardens/@43.679059,-79.3725781,14.93z/"target="_blank">Craigleigh Gardens 160 South Drive</a>
    <li>Hours of Operation 6am - 9am & 5pm - 11pm</li>
  </div>

  <button class="accordion">David Crombie Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/David+Crombie+Park/@43.6481818,-79.370273,15z/"target="_blank">David Crombie Park 131 to 171 The Esplanade</a>
  <li>Hours of Operation 6am - 8am & 5pm - 11pm</li>
  </div>

  <button class="accordion">Don Valley Brick Works</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Don+Valley+Brick+Works+Park/@43.6872734,-79.3659223,15z/"target="_blank">Don Valley Brick Works 550 Bayview Ave</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Gerrard Carlaw Parkette</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Gerrard+-+Carlaw+Parkette/@43.6672227,-79.3433482,15z/"target="_blank">Gerrard Carlaw Parkette 855 Gerrard St. E</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Greenwood Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Greenwood+Dog+Park/@43.6683413,-79.337253,16z/"target="_blank">Greenwood Park 150 Greenwood ave</a>
  <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Hideaway Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Hideaway+Park/@43.6650424,-79.3378838,15z/"target="_blank">Hideaway Park 23 Audley Ave</a>
  <li>Hours of Operation 6:30am - 11pm</li>
  <li>Amenities FEN</li>
  </div>

  <button class="accordion">Hillcrest Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Hillcrest+Dog+Park/@42.9675284,-85.6370008,15z/"target="_blank">Hillcrest Park 950 Davenport Ave</a>
  <li>Hours of Operation Nov.1 - Mar.31: 6am - 11pm</li>
  <li>Hours of Operation Apr.1 - Oct.31 6am - 9am & 8pm - 11pm</li>
  </div>

  <button class="accordion">Kew Gardens</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Kew+Gardens/@43.6684849,-79.2985184,16.4z/"target="_blank">Kew Gardens 2075 Queen St. East follow signage for fenced in area</a>
  <li>Hours of Operation 5:30am - 11:59pm</li>
  <li>Amenities CDW/SDA/partial FEN</li>
  </div>

  <button class="accordion">Merrill Bridge Road Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Merrill+Bridge+Road+Park/@43.6811154,-79.3152154,15.89z/"target="_blank">Merrill Bridge Road Park 1 East Lynn Ave</a>
  <li>Hours of Operation 7am - 10pm</li>
  </div>

  <button class="accordion">Monarch Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Monarch+Park+Off-Leash+Area,+Toronto,+ON/@43.6791844,-79.3265657,17z/"target="_blank">Monarch Park 115 Hanson St. at CNR tracks</a>
  <li>Hours of Operation 5:30am - 11:59pm</li>
  <li>Amenities CDW </li>
  </div>

  <button class="accordion">Norwood Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Norwood+Park/@43.682493,-79.3040198,17.96z/"target="_blank">Norwood Park 16 Norwood Rd</a>
  <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Oakcrest Parkette</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Oakcrest+Park/@43.6833529,-79.3114667,16.65z/"target="_blank">Oakcrest Parkette 30 oakcrest ave</a>
  <li>Hours of Operation 7am - 8am & 6pm - 7pm & 9:30pm - 10:00pm</li>
  </div>

  <button class="accordion">Orphans Greenspace</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/51+Power+St,+Toronto,+ON+M5A+3A6/@43.6545909,-79.3646495,17z/"target="_blank">Orphans Greenspace 51 Power St.</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Ramsden Park</button>
  <div class="panel">
  <a href = "https://www.google.ca/maps/place/Ramsden+Park/@43.6764023,-79.3896223,15z/"target="_blank">Ramsden Park 215 Avenue Rd.</a>
  <li>Hours of Operation 6am - 9am & 6pm - 9pm</li>
  <li>Amenities CDW</li>
  </div>

  <button class="accordion">Regent Park</button>
  <div class="panel">
    <a href = "https://www.google.ca/maps/place/Regent+Park,+620+Dundas+St+E,+Toronto,+ON/@43.6602111,-79.3656745,17z/"target="_blank">Regent Park 620 Dundas St. E</a>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Riverdale Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Riverdale+Park/@43.6706079,-79.3555897,16.16z/"target="_blank">Riverdale Park East 550 Broadview ave</a>
    <li>Hours of Operation Nov.15 - May.1 6am -9am & 5pm - 9pm</li>
  </div>

  <button class="accordion">Silverbirch Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/@43.6708292,-79.2847871,19z"target="_blank">Silverbirch Park foot of Silverbirch ave - Nursewood Rd.</a>
    <li>Hours of Operation 5:30am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Sir Winston Churchill Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Sir+Winston+Churchill+Park,+301+St+Clair+Ave+W,+Toronto,+ON/@43.6887739,-79.4180279,15z/"target="_blank">Sir Winston Churchill Park 301 St.Clair Ave. W.</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Sorauren Ave Park</button>
  <div class="panel">
    <a href="https://www.google.ca/maps/place/Sorauren+Dog+Park,+W+Toronto+Railpath,+Toronto,+ON+M6R+1N2/@43.6488537,-79.4450016,18.29z/"target="_blank">Sorauren Ave Park 289 Sorauren Ave</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">South Stanley Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Stanley+Off+Leash+Dog+Park/@43.6418356,-79.4093746,17.03z/"target="_blank">South Stanley Park</a>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Stan Wadlow Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Stan+Wadlow+Park/@43.6987414,-79.3138326,15.69z/"target="_blank">Stan Wadlow Park 888 Cosburn Ave</a>
    <li>Hours of Operation 6am - 10pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">St.Andrew's Playground</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/450+Adelaide+St+W,+Toronto,+ON+M5V+1S9/@43.6466527,-79.3997605,18.33z/"target="_blank">St.Andrew's Playground 450 Adelaide St. W</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Thompson Street Parkette</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/120+Broadview+Ave,+Toronto,+ON+M4M+2E9/@43.6594965,-79.3509749,18.57z/"target="_blank">Thompson Street Parkette 120 Broadview Ave</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Trinity Bellwoods Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Trinity+Bellwoods+Dog+Bowl/@43.6483523,-79.4145254,18.92z/"target="_blank">Trinity Bellwoods Park</a>
    <li>Hours of Operation 6am - 11pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Vermont Square</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Vermont+Square+Park/@43.670939,-79.4162414,17.29z/"target="_blank">Vermont Square 819 Palmerston Ave</a>
    <li>Hours of Operation Jun.1-Sept.30 - 6am - 9am & 8pm - 11pm</li>
    <li>Hours of Operation Oct.1 - May.31 - 6:30am - 9am & 6:30pm - 11pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Wildwood Cres Playground</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Wildwood+Crescent+Playground/@43.6809478,-79.3141767,17.89z/"target="_blank">Wildwood Crescent Playground 110 Wildwood Crescent</a>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Withrow Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/725+Logan+Ave,+Toronto,+ON+M4K/@43.6736768,-79.3469216,18.53z/"target="_blank">Withrow Park 725 Logan Ave</a>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Wychwood Car Barns Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/76+Wychwood+Ave,+Toronto,+ON+M6G+2X7/@43.6799853,-79.4244855,18.02z/"target="_blank">Wychwood Car Barns Park< 76 Wychwood Ave</a>
    <li>Hours of Operation Tues, Thurs, Sat: 7:30am - 12:00pm & 3pm - 9pm</li>
    <li>Hours of Operation Sun, Mon: 10am - 12pm & 3pm - 9pm</li>
    <li>Amenities FEN (NO COMMERCIAL DOG WALKERS ALLOWED)</li>
  </div>


  <!-- <a href ="https://www.google.ca/maps/place/Allan+Gardens+Off-Leash+Dog+Park/@43.6624827,-79.3748021,15z/"target="_blank">Allan Gardens (west end) 160 Gerrard St. East</a>
  <li>Hours Operation 6am - 11pm</li>
  <li>Amenities CDW/FEN/SDA</li> -->


  <!-- <a href ="https://www.google.ca/maps/place/Barbara+Hall+Park/@43.6666505,-79.3805207,15z/"target="_blank">Barbara Hall Park 519 Church St.</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Bickford+Park+Dog+Park/@43.6614414,-79.4216177,17z/"target="_blank">Bickford Park 400 Grace St.</a>
  <li>Hours of Operation 6am - 11:59pm for FEN & Field</li>
  <li>Hours of Operation Apr.1-Oct.31: 4pm - 8pm ON LEASH in field</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Bill+Johnston+Park/@43.6401012,-79.4159763,17z/"target="_blank">Bill Johnston Park 65 Western Battery Rd.</a>
  <li>Hours of Operation 7am - 11pm CDW: 9am - 5pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Cassels+Avenue+Playground/@43.6794937,-79.3093359,17z/"target="_blank">Cassels Ave playground 69 Cassels Ave</a>
  <li>Hours of Operation May.1-Sept.30: 5:30am - 9:30am 8pm - 11:59pm</li>
  <li>Hours of Operation Oct.1-Apr.30: 5:30am - 11:59pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Cedarvale+Park/@43.6909502,-79.4420204,14z/"target="_blank">Cedarvale Park 1611 Bathurst St.</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Cedarvale+Park/@43.6909502,-79.4420204,14z/"target="_blank">Cherry Beach 275 Unwin Ave - follow signage to offleash area</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Clarence+Square+Park/@43.6441588,-79.3959585,17z/"target= "_blank">Clarence Square 25 Clarence Square</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Coronation+Park/@43.635279,-79.4060657,15z/"target="_blank">Coronation Park 711 Lake Shore Blvd.</a>
  <li>Hours of Operation 7am - 11pm CDW hours - Monday to Friday: 10am - 2pm </li>
  <li>Amenties FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Craigleigh+Gardens/@43.679059,-79.3725781,14.93z/"target="_blank">Craigleigh Gardens 160 South Drive</a>
  <li>Hours of Operation 6am - 9am & 5pm - 11pm</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/David+Crombie+Park/@43.6481818,-79.370273,15z/"target="_blank">David Crombie Park 131 to 171 The Esplanade</a>
  <li>Hours of Operation 6am - 8am & 5pm - 11pm</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Don+Valley+Brick+Works+Park/@43.6872734,-79.3659223,15z/"target="_blank">Don Valley Brick Works 550 Bayview Ave</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Gerrard+-+Carlaw+Parkette/@43.6672227,-79.3433482,15z/"target="_blank">Gerrard Carlaw Parkette 855 Gerrard St. E</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Greenwood+Dog+Park/@43.6683413,-79.337253,16z/"target="_blank">Greenwood Park 150 Greenwood ave</a>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Hideaway+Park/@43.6650424,-79.3378838,15z/"target="_blank">Hideaway Park 23 Audley Ave</a>
  <li>Hours of Operation 6:30am - 11pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Hillcrest+Dog+Park/@42.9675284,-85.6370008,15z/"target="_blank">Hillcrest Park 950 Davenport Ave</a>
  <li>Hours of Operation Nov.1 - Mar.31: 6am - 11pm</li>
  <li>Hours of Operation Apr.1 - Oct.31 6am - 9am & 8pm - 11pm</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Kew+Gardens/@43.6684849,-79.2985184,16.4z/"target="_blank">Kew Gardens 2075 Queen St. East follow signage for fenced in area</a>
  <li>Hours of Operation 5:30am - 11:59pm</li>
  <li>Amenities CDW/SDA/partial FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Merrill+Bridge+Road+Park/@43.6811154,-79.3152154,15.89z/"target="_blank">Merrill Bridge Road Park 1 East Lynn Ave</a>
  <li>Hours of Operation 7am - 10pm</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Monarch+Park+Off-Leash+Area,+Toronto,+ON/@43.6791844,-79.3265657,17z/"target="_blank">Monarch Park 115 Hanson St. at CNR tracks</a>
  <li>Hours of Operation 5:30am - 11:59pm</li>
  <li>Amenities CDW </li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Norwood+Park/@43.682493,-79.3040198,17.96z/"target="_blank">Norwood Park 16 Norwood Rd</a>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Oakcrest+Park/@43.6833529,-79.3114667,16.65z/"target="_blank">Oakcrest Parkette 30 oakcrest ave</a>
  <li>Hours of Operation 7am - 8am & 6pm - 7pm & 9:30pm - 10:00pm</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/51+Power+St,+Toronto,+ON+M5A+3A6/@43.6545909,-79.3646495,17z/"target="_blank">Orphans Greenspace 51 Power St.</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Ramsden+Park/@43.6764023,-79.3896223,15z/"target="_blank">Ramsden Park 215 Avenue Rd.</a>
  <li>Hours of Operation 6am - 9am & 6pm - 9pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href = "https://www.google.ca/maps/place/Regent+Park,+620+Dundas+St+E,+Toronto,+ON/@43.6602111,-79.3656745,17z/"target="_blank">Regent Park 620 Dundas St. E</a>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Riverdale+Park/@43.6706079,-79.3555897,16.16z/"target="_blank">Riverdale Park East 550 Broadview ave</a>
  <li>Hours of Operation Nov.15 - May.1 6am -9am & 5pm - 9pm</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Riverdale+Park+West/@43.6658415,-79.3591056,15z/"target="_blank">Riverdale Park West 375 Sumach st</a>
  <li>Amenities CDW - KEEP DOGS AWAY FROM ACTIVE PLAY AREAS</li> -->

  <!-- <a href ="https://www.google.ca/maps/@43.6708292,-79.2847871,19z"target="_blank">Silverbirch Park foot of Silverbirch ave - Nursewood Rd.</a>
  <li>Hours of Operation 5:30am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Sir+Winston+Churchill+Park,+301+St+Clair+Ave+W,+Toronto,+ON/@43.6887739,-79.4180279,15z/"target="_blank">Sir Winston Churchill Park 301 St.Clair Ave. W.</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href="https://www.google.ca/maps/place/Sorauren+Dog+Park,+W+Toronto+Railpath,+Toronto,+ON+M6R+1N2/@43.6488537,-79.4450016,18.29z/"target="_blank">Sorauren Ave Park 289 Sorauren Ave</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Stanley+Off+Leash+Dog+Park/@43.6418356,-79.4093746,17.03z/"target="_blank">South Stanley Park</a>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Stan+Wadlow+Park/@43.6987414,-79.3138326,15.69z/"target="_blank">Stan Wadlow Park 888 Cosburn Ave</a>
  <li>Hours of Operation 6am - 10pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/450+Adelaide+St+W,+Toronto,+ON+M5V+1S9/@43.6466527,-79.3997605,18.33z/"target="_blank">St.Andrew's Playground 450 Adelaide St. W</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/120+Broadview+Ave,+Toronto,+ON+M4M+2E9/@43.6594965,-79.3509749,18.57z/"target="_blank">Thompson Street Parkette 120 Broadview Ave</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Trinity+Bellwoods+Dog+Bowl/@43.6483523,-79.4145254,18.92z/"target="_blank">Trinity Bellwoods Park</a>
  <li>Hours of Operation 6am - 11pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Vermont+Square+Park/@43.670939,-79.4162414,17.29z/"target="_blank">Vermont Square 819 Palmerston Ave</a>
  <li>Hours of Operation Jun.1-Sept.30 - 6am - 9am & 8pm - 11pm</li>
  <li>Hours of Operation Oct.1 - May.31 - 6:30am - 9am & 6:30pm - 11pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Wildwood+Crescent+Playground/@43.6809478,-79.3141767,17.89z/"target="_blank">Wildwood Crescent Playground 110 Wildwood Crescent</a>
  <li>Amenities FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/725+Logan+Ave,+Toronto,+ON+M4K/@43.6736768,-79.3469216,18.53z/"target="_blank">Withrow Park 725 Logan Ave</a>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/76+Wychwood+Ave,+Toronto,+ON+M6G+2X7/@43.6799853,-79.4244855,18.02z/"target="_blank">Wychwood Car Barns Park< 76 Wychwood Ave</a>
  <li>Hours of Operation Tues, Thurs, Sat: 7:30am - 12:00pm & 3pm - 9pm</li>
  <li>Hours of Operation Sun, Mon: 10am - 12pm & 3pm - 9pm</li>
  <li>Amenities FEN (NO COMMERCIAL DOG WALKERS ALLOWED)</li> -->

  <h2>Etobicoke & York District</h2>

  <button class="accordion">Beresford Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Beresford+Park/@43.6568264,-79.4809953,17.43z/"target="_blank">Beresford Park 400 Beresford Ave</a>
    <li>Hours of Operation 7am - 10pm</li>
  </div>

  <button class="accordion">Colonel Sam Smith Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Colonel+Samuel+Smith+Park/@43.5883858,-79.5167098,16.98z/"target="_blank">Colonel Sam Smith Park 1 Colonel Sam Smith Park Dr.</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Don Russell Memorial Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Donald+Russell+Memorial+Park/@43.6003091,-79.520629,16.99z/"target="_blank">Don Russell Memorial Park</a>
    <li>Hours of Operation May 1 - Oct. 31 6am - 9am & 8am - 11:59pm</li>
    <li>Hours of Operation Nov.1 - Apr. 30 6am - 11:59pm</li>
    <li>AmenitiesCDW</li>
  </div>

  <button class="accordion">Earlscourt Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Earlscourt+Park/@43.6728317,-79.4513781,17z/"target="_blank">Earlscourt Park 1200 Lansdowne Ave</a>
    <li>Hours of Operation 7am - 10pm CDW: 9am - 3pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">High Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/High+Park+Leash+Free+Dog+Park+Area/@43.6505964,-79.4639349,15.74z/"target="_blank">High Park 1873 Bloor Steet West - follow signage to offleash area</a>
    <li>Hours of Operation 7am - 10pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Humber Bay Park West</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/2225+Lake+Shore+Blvd+W,+Etobicoke,+ON+M8V+0B1/@43.6208082,-79.4828056,18.33z/"target="_blank">Humber Bay Park West 2225 Lake Shore Blvd. W.</a>
    <li>Hours of Operation 6am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Kings Mill Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Kings+Mill+Park/@43.6471644,-79.4973942,16z/"target="_blank">Kings Mill Park 1 Humber Valley Rd.</a>
    <li>Hours of Operation 7am - 10pm</li>
    <li>Amenities CDW</li>
  </div>

  <button class="accordion">Marie Curtis Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Marie+Curtis+Park/@43.5870854,-79.5432372,16.73z/"target="_blank">Marie Curtis Park 2 Forty Second St.</a>
    <li>Hours of Operation6am - 11:59pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Sir Casimir Gzowski Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/2001+Lake+Shore+Blvd+W,+Toronto,+ON+M6S+5B5/@43.633388,-79.4717083,18.16z/"target="_blank">Sir Casimir Gzowski Park 2001 Lakeshore Blvd. W.</a>
    <li>Hours of Operation 7am - 10pm CDW - 9am - 3pm</li>
    <li>Amenities CDW/FEN</li>
  </div>
  <!-- <a href ="https://www.google.ca/maps/place/Beresford+Park/@43.6568264,-79.4809953,17.43z/"target="_blank">Beresford Park 400 Beresford Ave</a>
  <li>Hours of Operation 7am - 10pm</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Colonel+Samuel+Smith+Park/@43.5883858,-79.5167098,16.98z/"target="_blank">Colonel Sam Smith Park 1 Colonel Sam Smith Park Dr.</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Donald+Russell+Memorial+Park/@43.6003091,-79.520629,16.99z/"target="_blank">Don Russell Memorial Park</a>
  <li>Hours of Operation May 1 - Oct. 31 6am - 9am & 8am - 11:59pm</li>
  <li>Hours of Operation Nov.1 - Apr. 30 6am - 11:59pm</li>
  <li>AmenitiesCDW</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Earlscourt+Park/@43.6728317,-79.4513781,17z/"target="_blank">Earlscourt Park 1200 Lansdowne Ave</a>
  <li>Hours of Operation 7am - 10pm CDW: 9am - 3pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/High+Park+Leash+Free+Dog+Park+Area/@43.6505964,-79.4639349,15.74z/"target="_blank">High Park 1873 Bloor Steet West - follow signage to offleash area</a>
  <li>Hours of Operation 7am - 10pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/2225+Lake+Shore+Blvd+W,+Etobicoke,+ON+M8V+0B1/@43.6208082,-79.4828056,18.33z/"target="_blank">Humber Bay Park West 2225 Lake Shore Blvd. W.</a>
  <li>Hours of Operation 6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Kings+Mill+Park/@43.6471644,-79.4973942,16z/"target="_blank">Kings Mill Park 1 Humber Valley Rd.</a>
  <li>Hours of Operation 7am - 10pm</li>
  <li>Amenities CDW</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/Marie+Curtis+Park/@43.5870854,-79.5432372,16.73z/"target="_blank">Marie Curtis Park 2 Forty Second St.</a>
  <li>Hours of Operation6am - 11:59pm</li>
  <li>Amenities CDW/FEN</li> -->

  <!-- <a href ="https://www.google.ca/maps/place/2001+Lake+Shore+Blvd+W,+Toronto,+ON+M6S+5B5/@43.633388,-79.4717083,18.16z/"target="_blank">Sir Casimir Gzowski Park 2001 Lakeshore Blvd. W.</a>
  <li>Hours of Operation 7am - 10pm CDW - 9am - 3pm</li>
  <li>Amenities CDW/FEN</li> -->

  <h2>Scarborough District</h2>

  <button class="accordion">Botany Hill Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Dog+Park/@43.7782606,-79.2137321,18.21z/"target="_blank">Botany Hill Park 277 Orton Park rd.</a>
    <li>Hours of Operation Mon-Fri: 7am - 9pm</li>
    <li>Hours of Operation Sat-Sun/Holidays: 9am - 9pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Colonel Danforth Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Colonel+Danforth+Park/@43.7782713,-79.1675361,17z/"target="_blank">Colonel Danforth Park 130 Old Kingston Rd. Follow signage to off-leash area</a>
    <li>Hours of Operation 6am - 10pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Frank Faubert Wood Lot</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Frank+Faubert+Wood+Lot/@43.7724271,-79.2541483,15z/"target="_blank">Frank Faubert Wood Lot 185 Borough Drive</a>
    <li>Amenities FEN/SDA</li>
  </div>

  <button class="accordion">L'Amoreaux</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Off+Leash+Dog+Park+at+LAmoreaux+cricket+Center/@43.8098405,-79.3065863,17.63z/"target="_blank">L'Amoreaux 1785 McNicoll Ave</a>
    <li>Hours of Operation 7am - 11pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

  <button class="accordion">Scarborough Heights Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Scarborough+Heights+Park/@43.6973963,-79.2554698,16.11z/"target="_blank">Scarborough Heights Park 27 Fishleigh Dr.</a>
    <li>Hours of Operation 7am - 11pm</li>
    <li>Amenities FEN</li>
  </div>

  <button class="accordion">Thomson Memorial Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Thomson+Memorial+Park/@43.7582643,-79.2573131,15.87z/"target="_blank">Thomson Memorial Park 1005 Brimley Ave.</a>
    <li>Hours of Operation 7am - 11pm</li>
    <li>Amenities CDW/FEN/SDA</li>
  </div>

  <button class="accordion">Warden Woods Park</button>
  <div class="panel">
    <a href ="https://www.google.ca/maps/place/Warden+Woods+Off-Leash+Dog+Park/@43.6989072,-79.2856622,16.96z/"target="_blank">Warden Woods Park Pharmacy Ave.</a>
    <li>Hours of Operation 7am - 10pm</li>
    <li>Amenities CDW/FEN</li>
  </div>

</div>



<!-- <a href ="https://www.google.ca/maps/place/Dog+Park/@43.7782606,-79.2137321,18.21z/"target="_blank">Botany Hill Park 277 Orton Park rd.</a>
<li>Hours of Operation Mon-Fri: 7am - 9pm</li>
<li>Hours of Operation Sat-Sun/Holidays: 9am - 9pm</li>
<li>Amenities CDW/FEN</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Colonel+Danforth+Park/@43.7782713,-79.1675361,17z/"target="_blank">Colonel Danforth Park 130 Old Kingston Rd. Follow signage to off-leash area</a>
<li>Hours of Operation 6am - 10pm</li>
<li>Amenities FEN</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Frank+Faubert+Wood+Lot/@43.7724271,-79.2541483,15z/"target="_blank">Frank Faubert Wood Lot 185 Borough Drive</a>
<li>Amenities FEN/SDA</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Off+Leash+Dog+Park+at+LAmoreaux+cricket+Center/@43.8098405,-79.3065863,17.63z/"target="_blank">L'Amoreaux 1785 McNicoll Ave</a>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities CDW/FEN</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Scarborough+Heights+Park/@43.6973963,-79.2554698,16.11z/"target="_blank">Scarborough Heights Park 27 Fishleigh Dr.</a>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities FEN</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Thomson+Memorial+Park/@43.7582643,-79.2573131,15.87z/"target="_blank">Thomson Memorial Park 1005 Brimley Ave.</a>
<li>Hours of Operation 7am - 11pm</li>
<li>Amenities CDW/FEN/SDA</li> -->

<!-- <a href ="https://www.google.ca/maps/place/Warden+Woods+Off-Leash+Dog+Park/@43.6989072,-79.2856622,16.96z/"target="_blank">Warden Woods Park Pharmacy Ave.</a>
<li>Hours of Operation 7am - 10pm</li>
<li>Amenities CDW/FEN</li> -->

<!--information for this list obtained from www1.toronto.ca
