<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Submission to BestFriendly.ca</h1>
    <p>
      Hello <%= @business.firstname %> <%= @business.lastname %>,
    </p>
    <p>
      This is just a short message, letting you know that we have received your submission request.  You will be contacted shortly with a response.
    </p>
    <p>Sincerely,<br />
      BestFriendly Team
    </p>
  </body>
</html>